{% extends 'base/master.html' %}
{% load static %}

{% block title %}
View Website
{% endblock title %}

{% block css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/chart.js" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
      <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
      <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
    </div>
    <div class="col-md-6">
      <h5>

      </h5>
      <!-- pagination -->

      <nav aria-label="Page navigation example">

        <ul class="pagination">
          <li class="page-item">
            <a href="{% url 'dashboard' %}" class="page-link">
              <i class="fas fa-arrow-left"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="page-item {% if not m.has_previous %}disabled{% endif %}">
            <a class="page-link" href="?page=1" tabindex="-1">first</a>
          </li>
          {% for i in m.paginator.page_range %}
          <li class="page-item {% if m.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if not m.has_next %}disabled{% endif %}">
            <a class="page-link" href="?page={{ m.paginator.num_pages }}">last</a>
          </li>
        </ul>
      </nav>
      <table class="table">
        <!-- Your table data here -->
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Latency</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for record in m %}
          <tr>
            <td>{{ record.timestamp.date }}</td>
            <td>{{ record.timestamp.time }}</td>
            <!-- round  to 3 decimals -->
            <td>
              <!-- show icon -->
              {% if record.latency is not None %}
              <i class="fas fa-check-circle text-success"></i>
              {% else %}
              <i class="fas fa-times-circle text-danger"></i>
              {% endif %}
              <!-- make it s to ms  1s = 1000ms -->
              <!-- multiply by 1000 -->
              {{ record.latency|floatformat:3 }} ms
            </td>
            <td>
              <!-- show icon based on status -->
              {% if record.status_code == 200 %}
              <i class="fas fa-check-circle text-success"></i>
              {% elif record.status_code == 404 %}
              <i class="fas fa-exclamation-circle text-warning"></i>
              {% else %}
              <i class="fas fa-times-circle text-danger"></i>
              {% endif %}
              {{ record.status_code }}

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2">No records found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>


{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  // onload
  document.addEventListener('DOMContentLoaded', () => {

    var datelist = `{{ date_list|safe }}`;
    var timeList = `{{ time_list|safe }}`;
    var latencylist = `{{ latency_list }}`;
    var statuslist = `{{ status_code_list|safe }}`;
    // make it to array
    datelist = JSON.parse(datelist);
    timeList = JSON.parse(timeList);
    latencylist = JSON.parse(latencylist);
    statuslist = JSON.parse(statuslist);
    console.log(statuslist);

    const dates = datelist;
    const latencies = latencylist.slice(0, 10);
    const statuses = statuslist.slice(0, 10);
    var barColors = [];
    for (let i = 0; i < latencies.length; i++) {

      if (statuses[i] == 200) {
        barColors.push('green');
      } else if (statuses[i] == 404) {
        barColors.push('orange');
      } else {
        barColors.push('red');
      }
    }
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: timeList.slice(0, 10),
        datasets: [{
          label: "Latency (ms)",
          backgroundColor: barColors,
          data: latencies,
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            },
            scaleLabel: {
              display: true,
              labelString: 'Latency (ms)'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            }
          }]
        },
        legend: { display: false },
        title: {
          display: true,
          text: "Latency Monitoring"
        },
        // hover
        tooltips: {
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.datasets[tooltipItem.datasetIndex].label || '';
              if (label) {
                label += ': ';
              }
              label += Math.round(tooltipItem.yLabel * 100) / 100;
              return label;
            }
          }
        }
      }

    });
    const xyValues = [];
    for (let i = 0; i < dates.length; i++) {
      xyValues.push({
        x: i,
        y: latencylist[i]
      });
    }

    new Chart("myChart2", {
      type: "scatter",
      data: {
        datasets: [{
          pointBackgroundColor: "rgb(0,123,255)",
          data: xyValues,
          showLine: true,
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: 'linear',
            position: 'bottom'
          }]
        },
        legend: { display: false },
        title: {
          display: true,
          text: "Latency Monitoring"
        }
      }
    });
    const dates_chart2 = datelist; // Time values
    const latencyValues = latencies; // Latency values

    new Chart("myChart3", {
      type: "line",
      data: {
        labels: dates_chart2,
        datasets: [{
          label: 'Latency (ms)',
          data: latencyValues,
          fill: false,
          borderColor: "rgb(75, 192, 192)",
          lineTension: 0.1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        }
      }
    });
    // pie chart of status code
    var statusCodes = statuslist;
    var statusCodesCount = {};
    statusCodes.forEach(function (x) {
      statusCodesCount[x] = (statusCodesCount[x] || 0) + 1;
    });
    var statusCodesLabels = Object.keys(statusCodesCount);
    var statusCodesData = Object.values(statusCodesCount);
    new Chart("myChart4", {
      type: "pie",
      data: {
        labels: statusCodesLabels,
        datasets: [{
          data: statusCodesData,
          backgroundColor: ['green', 'orange', 'red']
        }]
      },
      options: {
        title: {
          display: true,
          text: "Status Code Monitoring"
        }
      }
    });

  })

</script>
{% endblock js %}