{% extends 'base/master.html' %}

{% block content %}

<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center  h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h1>Forgot Password</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group mb-3">
            <i class="fas fa-envelope fa-lg me-1.5 fa-fw"></i>
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}

