{% extends 'base/master.html' %}

{% block content %}

<style>
    .card {
        background-color: #f0f0f0;
    }
    .img-fluid {
        width: 80%;
        height: auto;
    }
</style>
  <div class="container">
      <div class="row justify-content-center align-items-center vh-100 ">
          <div class="col-md-4">
            <img src="/static/img/profile.jpg"  alt="profile" class="img-fluid">
          </div>
          <div class="col-md-4 ">
              <div class="card">
                  <div class="card-body">
                      <h3>Create account</h3>
                      <form method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="username" class="form-label">Your Username</label>
                              <input type="username" class="form-control" name="username" id="username"
                                  aria-describedby="helpId" placeholder="JohnCena" />
                              
                          </div>
                          <div class="mb-3">
                              <label for="email" class="form-label">Your Email</label>
                              <input type="email" class="form-control" name="email" id="email"
                                  aria-describedby="emailHelpId" placeholder="johncena@mail.com" />
                          </div>
                          <div class="mb-3">
                              <label for="password1" class="form-label">Your Password</label>
                              <input type="password" class="form-control" name="password1" id="password1"
                                  placeholder="Secret" />
                          </div>
                          <div class="mb-3">
                              <label for="password2" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" name="password2" id="password2"
                                  placeholder="Secret" />
                          </div>
                          <div class="mb-3 d-flex justify-content-between align-items-center">
                              <button type="submit" class="btn btn-primary">Register</button>
                              <a href="{% url 'login' %}" class="nav-link">Already a user?</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}