{% extends 'base/master.html' %}

{% block content %}

<style>
    .card {
        background-color: white;
        box-shadow:0 4px 8px 0 rgba(86, 86, 86, 0.2), 0 6px 20px 0 rgba(67, 67, 67, 0.19) ;
    }
    
</style>
  <div class="container">
     <div class="card">
        <div class="card-body p-md-5">
      <div class="row justify-content-center align-items-center vh-100 ">
        <div class="col-md-4">
            <h3 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create account</h3>
                      <form method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                            <i class="fas fa-user fa-lg me-1.5 fa-fw"></i>
                              <label for="username" class="form-label">Your Username</label>
                              <input type="username" class="form-control" name="username" id="username"
                                  aria-describedby="helpId" placeholder="JohnCena" />
                               </div>
                          <div class="mb-3">
                            <i class="fas fa-envelope fa-lg me-1.5 fa-fw"></i>
                              <label for="email" class="form-label">Your Email</label>
                              <input type="email" class="form-control" name="email" id="email"
                                  aria-describedby="emailHelpId" placeholder="johncena@mail.com" />
                          </div>
                          <div class="mb-3">
                            <i class="fas fa-lock fa-lg me-1.5 fa-fw"></i>
                              <label for="password1" class="form-label">Your Password</label>
                              <input type="password" class="form-control" name="password1" id="password1"
                                  placeholder="Secret" />
                          </div>
                          <div class="mb-3">
                            <i class="fas fa-key fa-lg me-1.5 fa-fw"></i>
                              <label for="password2" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" name="password2" id="password2"
                                  placeholder="Secret" />
                          </div>
                          <div class="mb-3 d-flex justify-content-between align-items-center">
                              <button type="submit" class="btn btn-primary">Register</button>
                              <a href="{% url 'login' %}" class="nav-link">Already a user?</a>
                          </div>
                      </form>
                    </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
</div>


{% endblock %}