{% extends 'base/master.html' %}

{% block content %}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
  
      <div class="section-title">
        <span>Services</span>
        <h2>Services</h2>
        <p>Continuously monitor the latency of your websites in real-time to ensure optimal performance and user
          experience.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Real-Time Latency Monitoring</a></h4>
            <p>Continuously monitor the latency of your websites in real-time.</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Website Performance Analysis</a></h4>
            <p>Get detailed latency reports that can help you identify patterns and trends.</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Alerts and Notifications</a></h4>
            <p>Receive instant alerts and notifications when the latency exceeds a certain threshold.</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Historical Data Analysis</a></h4>
            <p>Access historical latency data for trend analysis and capacity planning</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Multi-Location Monitoring</a></h4>
            <p>Monitor the latency from different geographical locations to understand the global performance of your
              website.</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Customer Support</a></h4>
            <p>Get assistance from a dedicated customer support team to resolve any issues or queries.</p>
          </div>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Services Section -->
  {% endblock content %}