<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>
        <h1 class="logo"><a href="{% url 'home' %}">Latency Monitoring</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
                <li><a class="nav-link scrollto" href="{% url 'services' %}">Services</a></li>
                
                {% if user.is_authenticated %}
                    
                <li><a class="nav-link scrollto" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a class="nav-link scrollto" href="{% url 'feedback' %}">Feedback</a></li>

                {% endif %}
                
                <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a></li>

                {% if user.is_authenticated %}
                <li>
                    <a class="getstarted scrollto" href="{% url 'logout' %}">
                        <b><i class="bi bi-box-arrow-right"></i> Logout</b>
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="getstarted scrollto" href="{% url 'login' %}">
                        <b><i class="bi bi-box-arrow-in-right"></i> Login</b>
                    </a>
                </li>
                {% endif %}

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->